language: r
dist: trusty
sudo: false


r_packages:
   - data.table
   - RefManageR
   - DT
   - kableExtra
   - blogdown
   
branches:
  only:
    - source

cache:
  packages: yes
  directories:
    - $HOME/bin

before_script:
  #- sudo apt-get install texlive-bibtex-extra
  - Rscript -e 'blogdown::install_hugo(version="0.30")'

script:
  - pdflatex qgeissmann-cv.tex	&& mv qgeissmann-cv.pdf static/files
  - Rscript -e 'blogdown::build_site()'

deploy:
  provider: pages
  target_branch: master
  skip_cleanup: true
  github_token: $GITHUB_PAT
  on:
    branch: source  
  local_dir: public

fqdn: quentin.geissmann.net
