language: r
cache: packages
latex: true
pandoc_version: 1.19.2.1

r_packages:
   - data.table
   - RefManageR
   - DT

before_script:
  - chmod +x ./_build.sh
  - chmod +x ./_deploy.sh

script:
  - ./_build.sh
  - ./_deploy.sh
